@import 'assets/styles/mixins';

.category-cards {
    display: flex;
    //grid-row:  1;
   justify-content: space-between;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // 

    @include breakpoint(xl) {
       
        max-width: 610px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        // grid-template-columns:  repeat(2, minmax(200px, 1fr));
        // grid-template-rows: repeat(2, 1fr);
        // justify-content: center; /* Центрирует по горизонтали */
        //  align-items: center;
        
     }

     @include breakpoint(s) {
        width: 100%;
        flex-direction: column;
     }
}

aside {
    .category-cards {
        flex-direction: column;

        @include breakpoint(xl) {
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        @include breakpoint(l) {
            width: 600px;
            flex-wrap: wrap;
            margin: 0 auto;
        }

       
    }



}
