@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.category-card {
    width: 296px;
    height: 228px;
    @include borderGrey;
    
    padding: 32px;
    margin-top: 48px;
    box-sizing: border-box;   


    &_active, &:hover {
        background-color: $color-yellow;
    }
    
    &__icon-container {
        width: 48px;
        height: 48px;

        @include flexCenter;
        background-color: $color-cream;

        border-radius: 10px;
    }

    &__title {
        margin-top: 16px;

        // @include breakpoint(s) { 
        //     margin-top: 0;
        // }

    }

    &__text {
        margin-top: 4px;
        color: $color-grey;
    }

        
    @include breakpoint(xl) {
        margin-top: 0;
     }

     @include breakpoint(l) {
        width: 220px;
        // padding: 20px;
        // width: 200px;
     }

     @include breakpoint(s) {
        width: 100%;
        height: 70px;
        box-sizing: border-box;

        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0;
        padding-left: 24px;

        &__title {
            margin-top: 0;
        }
    
        &__text {
            display: none;
        }
    }

}

aside {
    
    .category-card {
        width: 100%;
        height: 96px;
        box-sizing: border-box;

        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0;
        padding-left: 24px;
    

        &__title {
            margin-top: 0;
        }
    
        &__text {
            display: none;
        }


    @include breakpoint(xl) {
        max-width: 25%;
        height: 70px;
        padding-left: 14px;
        &__title {
            font-size: 20px;
        }
    }

    @include breakpoint(l) {
        width: 200px;
        max-width: 200px;
    }
    @include breakpoint(s) {
        max-width: 50%;
        width: 48%;
        &__title {
            font-size: 16px;
        }
    }

}
}
