@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.category-card {
    width: 232px;
    height: 164px;
    @include borderGrey;
    
    padding: 32px;
    margin-top: 48px;

    &:hover {
        background-color: $color-yellow;
    }
    
    &__icon-container {
        width: 48px;
        height: 48px;

        @include flexCenter;
        background-color: $color-cream;

        border-radius: 10px;
    }

    &__title {
        margin-top: 16px;
    }

    &__text {
        margin-top: 4px;
        color: $color-grey;
    }
}

aside {
    .category-card {
        width: 100%;
        height: 96px;
        box-sizing: border-box;

        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0;
        padding-left: 24px;
    
        &__title {
            margin-top: 0;
        }
    
        &__text {
            display: none;
        }
    }
}
