@import 'assets/styles/mixins';

.wrapper {
    max-width: 1314px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
        
    // @include breakpoint(lg) {
    //     max-width: 900px;
    // }
    // @include responsive('large') {
    //     max-width: 900px;
    //   }

    //   @include responsive('medium') {
    //     background-color: green; // Styles for 'medium' breakpoint or above (768px)
    //   }
    
    // @include responsive('small') {
    //     background-color: red; // Styles for 'small' breakpoint or above (568px)
    //   }
    
     
     
}  