@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.why-we-started {
    margin-top: 128px;
    height: 480px;
    @include flexBetween;
    position: relative;

    &__text-block {
        width: 519px;
    }

    &__subtitle {
        margin-top: 16px;
    }

    &__text {
        margin-top: 16px;
        color: $color-grey;
    }
    &__img-block {
        width: 50%;
        height: 100%;
    }

    &__decor {
        width: 74px;
        height: 74px;

        position: absolute;
        bottom: -38px;
        left: 107px;
        background: $color-purple;
        border-radius: 50%;
    }
}