@import 'assets/styles/colors';

.post {
    display: flex;
    gap: 32px;

    margin-top: 64px;

    cursor: pointer;

    &:hover {
        background-color: $color-grey-light;
        img {
            scale: 1.1;
        }
    }
    &__img-container {
        width: 490px;
        height: 318px;
        overflow: hidden;
    }

    &__text-container {
        width: 490px;
        height: 318px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__cap {
        color: $color-purple;
    }

    &__title {
        margin-top: 20px;
    }

    &__text {
        margin-top: 16px;
    }
}