@import 'assets/styles/colors';
@import 'assets/styles/fonts';
@import 'assets/styles/mixins';

.step-by-step {
    width: 100%;
    height: 720px;
    background: url('assets/images/jpg/step-by-step.jpg');
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    background-position: center;
    background-repeat: no-repeat;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 720px;
        right: 0px;
        top: 0px;

        background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%) 
    }

    &__container {
        width: 100%;
        height: 100%;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__content {
        width: 804px;
        height: 400px;

        color: white;
       
    }

    &__subtitle {
       
        &_bold {
            font-weight: 900; 
        }
    }

    &__title {
        font-family: $font-sen;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        margin-top: 24px;
    }

    &__info {
        margin-top: 24px;
        &_yellow {
            color: $color-yellow;
        }
    }

    &__text {
        margin-top: 16px;
        margin-bottom: 48px;
    }
}

