@import 'assets/styles/colors';

.about-us {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-light-pink;
    padding: 96px 80px;
    margin-top: 151px;

    &__decor-line {
        width: 80%;
        height: 23px;
        position: absolute;
        right: 0;
        bottom: 100%;
        background-color: $color-yellow;

        &_purple {
            width: 25%;
            height: 100%;
            position: absolute;
            right: 0;
            background-color: $color-purple;
        }
    }

    &__cap {
        color: $color-dark-blue;
    }
    
    &__block {
       width: 515px;
    }

    &__title {
        margin-top: 24px;
    }

    &__text {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}