@import 'assets/styles/colors';

.post {
    width: 517px;
    height: 181px;

    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 25px;

    cursor: pointer;

    &_active, &:hover {
        background-color: $color-light-yellow;
    }

    &__content {
        width: 370px;
    }
}


