@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.what-to-read-next {
    margin-top: 128px;
    padding-bottom: 64px;
    border-bottom: 1px solid $color-grey;

    &__title {
        text-align: left;
    }

    &__cards-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
     
        margin-top: 64px;
    }

    @include breakpoint(m) {
  
        &__cards-container {
            width: 100%;
            flex-direction: column;
        }
    }

}

.card {
    display: flex;
    flex-direction: column;
    max-width: 405px;


    &__img-container{
        width: 100%;
        height: 318px;
    }

    &__label {
        margin-top: 32px;
    }

    &__title {
        margin-top: 16px;
    }

    &__text {
        margin-top: 16px;
    }


    @include breakpoint(l) {
        
        &__img-container{
            width: 100%;
            height: 200px;
        }
    }


    @include breakpoint(m) {
      max-width: 100%;
        &__img-container{
            width: 100%;
            height: 300px;
        }
    }
}