@import 'assets/styles/colors';

.slide {
    width: 469px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
   

    padding-left: 96px;
    padding-right: 32px;
    
    &__title {
        color: $color-dark-blue;
        
        overflow: hidden;
        text-overflow: ellipsis;
    }
}