.modal {
    width: 600px;
    height: 400px;
    position: relative;
    padding-top: 25px;
    background-color: white;
  
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
    &__close-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        right: 0;
    
        background-color: gray;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    &__content {
        width: 100%;
        height: 100%;
    }
}
