@import 'assets/styles/colors';
@import 'assets/styles/mixins';


.slider {
    width: 597px;
    height: 320px;
    @include slider;

   &__slides-wrapper {
    height: 100%;
    @include sledersWrapper;
   }

   &__control-container {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    gap: 24px;
   }

    &__btn {
        width: 48px;
        height: 48px;
        background-color: $color-white;
        border-radius: 50%;
        
        &:hover {
            background-color: $color-dark-blue;
        }
    }
}
