@import 'assets/styles/colors';


@mixin buttonMixin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    padding: 16px 48px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.header {
    height: 80px;
    background-color:  $color-dark-blue;
    color: $color-white;

    display: flex;
  
    align-items: center;

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 48px;
    }
    &__menu-container {
        display: flex;
        gap: 32px;
    }
    &__button {
        @include buttonMixin;
        box-sizing: border-box;
        height: 24px;
       
        font-size: 18px;
        line-height: 24px;

        color: #232536;
       
    }
}

  
