@import 'assets/styles/mixins';

.blog-post-header {
    max-width: 843px;
    margin: 24px auto 0 auto;

    &__title {
        margin-top: 24px;
    }
    &__category {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 34px;
    }


    @include breakpoint(l) {
        margin: 20px auto 0 auto;

        &__title {
            margin-top: 14px;
        }

        &__category {
            margin-top: 24px;
        }
      }

      @include breakpoint(m) {
        &__category {
            margin-top: 14px;
        }
      }

}