@import 'assets/styles/colors';

.tags {

    &__title {
        margin-top: 48px;
    }
    
    &__tags-container {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;

        margin-top: 24px;
    }
}

.tag {
    box-sizing: border-box;
    padding: 8px 38px;
    border: 2px solid $color-grey;
    border-radius: 28px;

    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
}

