@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.mission-vision {
    // height: 441px;
    background-color: $color-light-pink;
    margin-top: -64px;

    @include flexBetween;

    display: flex;
    padding: 128px 108px 64px 128px;

    &__block {
        width: 516px;
    }
    
    .mission-vision__cap {
        color: $color-dark-blue;
    }

    .mission-vision__title {
        margin-top: 24px;
        color: $color-dark-blue;
    }

    .mission-vision__text {
        margin-top: 24px;
        color: $color-grey;
    }
}