@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.subscribe {
    width: 100%;
    height: 256px;
    background-color: $color-light-blue;
  

    @include flexCenter;
    gap: 64px;

    &__title {
        width: 562px;
        color: $color-white;
    }

    &__form {
        display: flex;
        gap: 24px;
    }

    &__input-container {
        width: 324px;
        height: 56px;
        position: relative;
    }
    
    &__email {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include borderGreyDark;

        padding-left: 24px;

        color: $color-white;
        outline: none;
    }

    &__input-error {
        position: absolute;
        top: 100%;
    }
}

