@import 'assets/styles/mixins';
@import 'assets/styles/colors';


.lang-switcher{
    position: relative;

    &__select-container {

        display: none;
        @include breakpoint(l) {
            height: 30px;
            display: flex;
            gap: 10px;

            svg {
                width: 32px;
                height: 32px;
            }

           }
    
    }

    &__select {
        width: 50px;
    }
    &__btn {

       @include flexBetween;
       flex-direction: column;
        gap: 8px;
        color: $color-white;

        svg {
            width: 32px;
            height: 32px;
        }

       &:hover {
        color: $color-yellow;

        svg {
            stroke: $color-yellow;
        }
       }

       @include breakpoint(l) {
        display: none;
       }
    }

    &__text {
        padding-left: 3px;
        color: $color-yellow;

        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: $color-yellow-dark;
            color: $color-white;
        }
    }
}
