@import 'assets/styles/mixins';
@import 'assets/styles/colors';


.lang-switcher{
    position: relative;

    &__btn {
       @include flexBetween;
       flex-direction: column;
        gap: 8px;
        color: $color-white;

        svg {
            width: 32px;
            height: 32px;
        }

       &:hover {
        color: $color-yellow;

        svg {
            stroke: $color-yellow;
        }
       }
    }

    &__text {
        padding-left: 3px;
        color: $color-yellow;

        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: $color-yellow-dark;
            color: $color-white;
        }
    }
}
