@import 'assets/styles/mixins';
@import 'assets/styles/colors';


.footer {
    height: 560px;

    svg {
        path {
            fill: $color-grey;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        @include flexCenter;
        flex-direction: column;
        gap:48px;
    }

    &__row {
        width: 100%;
        @include flexBetween;
    }

    .footer__text {
        opacity: 0.5;
    }

}