@import 'assets/styles/mixins';

.all-categories {
    margin-top: 64px;
    &__title {
        text-align: left;
    }

    @include breakpoint(xl) {
        @include flexCenter;
        flex-direction: column;
        gap: 40px;
        &__title {
            text-align: center;
        }
    
    }
}