@import 'assets/styles/colors';

.post {
    height: 318px;
    display: flex;
    gap: 32px;

    margin-top: 64px;

    cursor: pointer;

    &:hover {
        background-color: $color-grey-light;
        img {
            scale: 1.1;
        }
    }
    &__img-container {
        width: 490px;
       
        overflow: hidden;
    }

    &__text-container {
        width: 490px;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__cap {
        color: $color-purple;
    }

    &__title {
        margin-top: 20px;
    }

    &__text {
        margin-top: 16px;
    }
}


.category-page 
    .post {
        height: 312px;

        &__img-container {
            width: 294px;
            height: 100%;
        }
    }

