@import 'assets/styles/fonts';
@import 'assets/styles/colors';
@import 'assets/styles/mixins';

body {
    font-family: $font-infer;
    font-style: normal;
    box-sizing: border-box;
}

button {
    font-family: $font-sen;
    font-style: normal;
    border: none;
}



img {
    width: 100%;
    height: 100%;
}


h1 {
    font-family: $font-sen;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

h2 {
    font-family: $font-sen;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: $color-black;
}

h3 {
    font-family: $font-sen;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
}

h4 {
    font-family: $font-sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}


h5 {
    font-family: $font-sen;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}


h6 {
    font-family: $font-sen;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

h5 {
    font-family: $font-sen;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    font-family: $font-infer;
    font-weight: 400;
}

.text-big {
    font-size: 16px;
    line-height: 28px;
}

.text-normal {
    font-size: 14px;
    line-height: 20px;
}

.display {
    font-family: $font-sen;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

.cap {
    font-family: $font-infer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button-yellow {
    @include buttonMixin;
    background-color: $color-yellow;
    color: $color-black;

    &:hover {
        background-color: $color-yellow-dark;
    }
}