$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);


$color-light-pink: rgba(244, 240, 248, 1);
$color-purple:  rgba(89, 46, 169, 1);
$color-cream: rgba(251, 246, 234, 1);

$color-grey: rgba(109, 110, 118, 1);
$color-grey-light:  rgba(109, 110, 118, 0.5);

$color-yellow: rgba(255, 208, 80, 1);
$color-yellow-light: rgba(251, 246, 234, 1);
$color-yellow-dark: rgba(237, 193, 74, 1);

$color-dark-blue: rgba(35, 37, 54, 1);
$color-light-blue: rgba(255,255,255, 0.05);