@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(../fonts/Inter/Inter-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url(../fonts/Inter/Inter-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(../fonts/Inter/Inter-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(../fonts/Inter/Inter-Regular.ttf) format('ttf');
}

// @font-face {
//     font-family: 'Sen';
//     font-weight: 700;
//     src: url(../fonts/Sen/Sen-Bold.ttf) format('ttf');
// }

$font-infer: 'Inter', sans-serif;

$font-sen: 'Sen', sans-serif;

