@import './colors';

@mixin buttonMixin {
    font-style: normal;
    font-weight: 700;
    padding: 16px 48px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

@mixin  buttonYellow {
    @include buttonMixin;
    background-color: $color-yellow;
    color: $color-black;
}

@mixin borderGrey {
    border: 1px solid $color-grey-light;
}

@mixin borderGreyDark {
    border: 1px solid $color-grey;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin slider {
    position: relative;
    overflow: hidden;
}

@mixin sledersWrapper {
    display: flex;
    position: absolute;
    transition: all ease-in-out 1s;
}