@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.searchbar {
    width: 296px;
    height: 54px;
    position: relative;
  
    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        
        @include borderGreyDark;
        border-radius: 6px;

        padding-left: 25px;
    }

    &__btn {
        position: absolute;
        right: 0;
        width: 83px;
        height: 100%;
        background-color: $color-yellow;
        border-radius: 6px;
    }
}





// /* Button */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// justify-content: center;
// align-items: center;
// padding: 11px 46px;
// gap: 12px;

// position: absolute;
// left: 71.91%;
// right: 0%;
// top: 0%;
// bottom: 0%;

// background: #FFD050;
// border-radius: 6px;


// /* Watch the demo */

// width: 85px;
// height: 24px;

// font-family: 'Sen';
// font-style: normal;
// font-weight: 700;
// font-size: 16px;
// line-height: 24px;
// /* identical to box height, or 150% */
// text-align: center;
// letter-spacing: -0.015em;

// color: #232536;


// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;


// /* imput */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// align-items: center;
// padding: 0px;
// gap: 2px;

// position: absolute;
// width: 80px;
// height: 24px;
// left: 25px;
// top: 15px;



// /* imput */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// align-items: center;
// padding: 0px;
// gap: 2px;

// width: 71px;
// height: 24px;


// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;


// /* input-text */

// width: 105px;
// height: 24px;

// font-family: 'Sen';
// font-style: normal;
// font-weight: 700;
// font-size: 14px;
// line-height: 24px;
// /* identical to box height, or 171% */
// letter-spacing: -0.015em;

// /* Black */
// color: #292D33;


// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;


// /* cursor */

// display: none;
// width: 20px;
// height: 0px;

// /* Primary */
// border: 1px solid #185CFF;
// transform: rotate(90deg);

// /* Inside auto layout */
// flex: none;
// order: 1;
// flex-grow: 0;
