@import 'assets/styles/mixins';

.posts-container  {
    width: 100%;
    max-width: calc(100% - 314px - 100px);

    margin-top: 128px;
    margin-bottom: 100px;

    &__title{
        text-align: center;
    }
    
    @include breakpoint(xl) {
        margin-top: 28px;
        max-width: 100%;
        min-height: 50vh;
    }
}